@font-face{
	font-family: 'Raleway-Bold';
	src: url('Raleway-Bold.ttf');
}
@font-face{
	font-family: 'Raleway-ExtraLight';
	src: url('Raleway-ExtraLight.ttf');
}
@font-face{
	font-family: 'Raleway-MediumItalic';
	src: url('Raleway-MediumItalic.ttf');
}